.navbar {
	color: black;
	background-color: white;
}

.navbar-home {
	color: white;
	background-color: orange;
}

.button {
	background-color: orange;
	color: white;
}

.text {
	margin-top: 70px;
	margin-bottom: 70px;
}
.thumb {
		margin-top: 70px;
}

.thumb-nail{
	margin-top: 70px;
	margin-right: 10px;
}

.last {
	margin-top: 90px;
}
.all {
    background-color: #f5f5f5;
}